* {
  box-sizing: border-box;
}
.hero-container {
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  opacity: 0.5;
  transition: opacity 300 ease-in-out;
}
.full-opacity {
  opacity: 1;
}

.hero {
  margin: 10px auto;
  border: 1px solid black;
}
.hero-img {
  width: 120px;
  height: 120px;
}
.hero-name {
  text-align: center;
  margin: 10px 0;
}
.score-container {
  display: flex;
  justify-content: space-between;
}